body{
    background-color:#ddd ;
    font-size: 20px
}

#content{
    max-width: 60%;
    border: 1px solid darkgray;
    margin: 48px auto;
    padding: 50px;
}

p{
    color: rgb(24, 24, 93);
    font-size: 1.3em;
}

hr{
    height: 3px;
    background-color: rgb(24, 24, 93);
    width: 80%;
    margin-top: 58px;
}

h1, h2, p{
    text-align: center;
}

#logos{
    text-align: center;
}

img{
    width: 50%;
}

#topics{
    line-height: 1.5em;
    margin: 0 auto;
}

.list{
    list-style-type: none;
}

