body {
    font-family: Arial, sans-serif;
    background: #cfe0cf;
    margin: 0;
}

.wrapper {
    max-width: 850px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.full {
    grid-column: 1 / 3;
}

input,
select,
button {
    padding: .6rem;
    font: inherit;
}

button {
    background: #cfe0cf;
    border: none;
    cursor: pointer;
    transition: background .3s;
}

button:hover {
    background: #dcead9;
}

#accesscode[hidden] {
    display: none;
}

#errors {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}

#output {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}
